<button id="scrape">Scrape</button>

<h1>Articles</h1>
<div>
  {{#each articles}}
  <h3>{{title  }}</h3>
  <p>{{summary}}</p>
  <a href="{{link   }}">Link to Blog Post</a>
    {{#each this.notes}}
    <p>{{body}}</p>
    {{else}}
    <p>There are no Notes for this Article!</p>
    {{/each}}
  {{else}}
  <p>There are no Articles!</p>
  {{/each}}
</div>


<script>

  const $IDs = {
    scrape
  }
  Object.keys($IDs).forEach(id => $IDs[id] = document.getElementById(id));



  $IDs.scrape.onclick = function (event) {

    fetch('/scrape')

      .then(async response => {
        if (response.ok) {
          await response.json();
          location.reload();
        }
        else throw response;
      })

      .catch(error => console.error("fetch error", error));

  }

</script>